/* Center Rect*/
.animatedDiv {
  @apply bg-semiDarkBackground border-headingColor border-opacity-50
   border-[1px] w-[15vw] md:w-[10vw] h-[20vh] md:h-[40vh] flex items-center justify-center 
  shadow-white shadow-2xl;
  @apply top-[25%] left-[45%];

  position: absolute;
  transform: translate(-50%, -50%);
}

/* The Four surrounding Rect */
.transparentAnimatedDiv {
  @apply bg-transparent border-headingColor 
   border-[1px] w-[15vw] md:w-[10vw] h-[20vh] md:h-[40vh] flex items-center justify-center 
  shadow-white shadow-2xl;
  @apply top-[25%] left-[45%];

  position: absolute;
  transform: translate(-50%, -50%);
}

.animatedText {
  @apply text-5xl text-center text-accentColor font-bold;
}

.gradientText {
  @apply text-6xl font-bold text-transparent bg-clip-text bg-gradient-to-b from-white via-accentColor to-accentColor;
}
