@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  @apply bg-bgColor text-headingColor;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  /* Prevents overflow on the x-axis */
  overflow-x: hidden;
}

button {
  display: block;
  @apply bg-accentColor text-white;
}
p {
  @apply text-sm lg:text-lg;
}
h3 {
  @apply text-headingColor text-sm lg:text-lg;
}
h1,
.heading {
  @apply text-headingColor text-2xl md:text-4xl lg:text-6xl font-bold;
}
.typeWriterHeading {
  @apply text-flowTextColor text-2xl md:text-4xl lg:text-6xl font-extrabold;
}

.absolute-center {
  position: absolute;
  top: 30%;
  left: 47%;
  transform: translate(-50%, -50%);
}

.cards {
  @apply bg-semiDarkBackground border-headingColor;
}

.wrapper {
  @apply p-10 h-[100vh] bg-accentColor;
}

.buttonShadow {
  box-shadow: -3px 3px 0px rgb(255, 255, 255);
}
